# Environment variables & secrets
.env
*.env

# Python / Virtual Environment
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
*.sqlite3

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
frontend/build/
frontend/.dart_tool/

# IDE / OS Files
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db
